<h1 mat-dialog-title>Add Revenue Group</h1>
<form [formGroup]="modalForm">
    <div mat-dialog-content>
        <h1>Revenue Group Title</h1>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Title" aria-label="Title"
                aria-describedby="basic-addon1">
        </div>
        <div class="row p-3">

            <div class="col-2 d-flex align-items-center justify-content-start pl-0 pr-0">If</div>

            <div class=" col-5 d-flex align-items-center justify-content-start pl-0">
                <select class="form-select form-select-md" aria-label=".form-select-lg example">
                    <option selected>All</option>

                </select>
            </div>

            <div class="col-5 d-flex align-items-center justify-content-start">of the below conditions are met</div>
        </div>

        <div class="row p-3" formArrayName="options" style="background-color: #d3d3d3">
            <ng-container *ngFor="let controlOption of optionArray().controls;let i = index" [formGroupName]="i">
                <div class="col-2">
                    <select class="form-select form-select-md" formControlName="option1"
                        aria-label=".form-select-lg example">
                        <option selected>All</option>

                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select form-select-md" formControlName="option2"
                        aria-label=".form-select-lg example">
                        <option selected>All</option>

                    </select>
                </div>
                <div class="col-6">
                    <div formArrayName="option3Array">
                        <ng-container *ngFor="let control of controlOption.get('option3Array').controls;let j = index">
                            <div [formGroupName]="j">
                                <input type="text" class="form-control" placeholder="Title" formControlName="option3"
                                    aria-label="Title" aria-describedby="basic-addon1">
                                <div (click)="removeOption3(i)">remove rule
                                </div>
                                <div (click)="addOption3(i)">add rule</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <mat-icon (click)="remove(i)">remove_circle_outline</mat-icon>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <mat-icon (click)="add()">add_circle_outline</mat-icon>
                    </div>
                </div>
            </ng-container>
        </div>


    </div>
    <div class="row p-3" mat-dialog-footer>
        <div class="col-3">
            <button mat-button style="width: 100%; background-color: #ffa500">
                <div class="d-flex align-items-center justify-content-center text-white">
                    Cancel
                </div>
            </button>
        </div>
        <div class="col-3">
            <button mat-button style="width: 100%; background-color: grey" (click)="submit()">
                <div class="d-flex align-items-center justify-content-center text-white">
                    Confirm
                </div>
            </button>
        </div>
    </div>
</form>